:root {
  --vp-font-family-base:
    'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:is(pre, code) {
  direction: ltr;
  text-align: left;
  font-family: 'Cascadia Code', 'Fira Code', monospace;
}

.ltr {
  direction: ltr;
  text-align: left;
}
