* {
  font-family: 'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif !important;
}

:root {
  --vp-font-family-base: 'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --vp-font-family-mono: 'Cascadia Code', 'JetBrains Mono', 'Fira Code', monospace;
}

body {
  font-family: 'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif !important;
}

:is(pre, code) {
  direction: ltr;
  text-align: left;
  font-family: 'Cascadia Code', 'JetBrains Mono', 'Fira Code', monospace !important;
}

.ltr {
  direction: ltr;
  text-align: left;
}
